[project]
	description = Package golang service into minimal docker containers.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Pillar (mpillar)
[access "refs/for/refs/*"]
	read = group user/Matt Pillar (mpillar)
	push = group user/Matt Pillar (mpillar)
	label-Code-Review = -2..+2 group user/Matt Pillar (mpillar)
	label-Verified = -1..+1 group user/Matt Pillar (mpillar)
	rebase = group user/Matt Pillar (mpillar)
	removeReviewer = group user/Matt Pillar (mpillar)
	submit = group user/Matt Pillar (mpillar)
[access "refs/heads/*"]
	read = group user/Matt Pillar (mpillar)
	create = group user/Matt Pillar (mpillar)
	push = +force group user/Matt Pillar (mpillar)
	pushMerge = group user/Matt Pillar (mpillar)
[access "refs/tags/*"]
	push = +force group user/Matt Pillar (mpillar)
	pushTag = group user/Matt Pillar (mpillar)
	pushSignedTag = group user/Matt Pillar (mpillar)
